<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Парковка</title>
  </head>

  <body>
    <h1>СВОБОДНЫЕ МЕСТА</h1>
    <div class="spaces">
      <p>{{ free_spaces }}</p>
    </div>
    <hr>
    <div class="cords">
      <svg width="{{ resX }}" height="{{ resY }}">
        {% for cord, color in quads %}
            <polygon points="{{ cord }}" stroke="rgb({{ color }})"></polygon>
        {% endfor %}
      </svg>
    </div>
    <hr>
    <div class="btn">
      <a href=""> Обновить страницу </a>
    </div>
  </body>
</html>
