<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Парковка</title>
    <meta http-equiv="refresh" content="2">
  </head>

  <body>
    <h1>СВОБОДНЫЕ МЕСТА</h1>
    <div class="spaces">
      <p>{{ free_spaces }}</p>
    </div>
    <hr>
    <div class="cords" style="width: 100%; max-width: 100vw; overflow-x: hidden;">
      <svg viewBox="0 0 {{ resX }} {{ resY }}" width="100%" preserveAspectRatio="xMidYMid meet">
        {% for cord, color in quads %}
            <polygon points="{{ cord }}" stroke="rgb({{ color }})"></polygon>
        {% endfor %}
      </svg>
    </div>
    <hr>
    <div class="btn">
      <a href=""> Обновить страницу </a>
    </div>
  </body>
</html>
