body{
    background-color: #131516;
}

h1{
    color: coral;
    text-align: center;
}

.spaces{
    text-align: center;
    font-size: 45px;
}

p{
    display: inline-block;
    color: wheat;
}

.btn{
    text-align: center;
}

a:link, a:visited{
    background-color: wheat;
    color: #131516;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active{
    background-color: #cf5d34;
}

svg {
    width: 100%;
    height: 500px;
    background-color: #131516;
    }

polygon {
    fill: none;
    stroke-width: 3;
    }
